/* resets */
body,
ul,
p,
li,
header {
  margin: 0;
}

body {
  background-color: #62350c;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  color: #d1d5de;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  background-color: #62350c;
  padding: 25px;
  z-index: 1;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 8px;
}
.text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green-bar {
  display: flex;
  position: fixed;
  height: 100%;
  width: 8px;
  top: 0;
  background-color: #069e2d;
  z-index: 2;
}
img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  padding: 20px;
}
.squirrel-icon {
  color: #d1d5de;
  height: 50px;
  width: 50px;
}
.acorn-icon {
  height: 67px;
  width: 67px;
  position: relative;
  top: 10px;
}
.brackets {
  font-size: 200%;
}
.brackets-logo {
}
.cart-icon {
  color: #d1d5de;
  height: 50px;
  width: 50px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
li {
  list-style: none;
}
.item-container {
  margin-left: 25px;
  margin-top: 50%;
  width: 425px;
  height: 100%;
  left: 38px;
  top: 144px;
  background: #d1d5de;
  border-radius: 50px;
  z-index: 0;
}
.item-container p {
  background-color: #069e2d;
  color: #d1d5de;
  text-align: center;
  padding: 3px;
}

.checkout-popup {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 100px;
}

.checkout-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.credit-container {
  height: 100%;
  background-color: red;
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
}

.checkout-container {
  height: 100%;
  background: linear-gradient(
    90deg,
    #069e2d 3%,
    #62350c 3%,
    #62350c 15%,
    #069e2d 15%
  );
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
}

.receipt-page {
  height: 100%;
  background-color: purple;
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
}

.receipt-page p {
  position: fixed;
  font-size: 72px;
  top: 100px;
}

.hide {
  display: none;
}

.cart-icon {
  padding: 20px;
}
body button {
  padding: 10px 30px;
  background-color: #d1d5de;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  color: #183e10;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

body button:hover {
  background-color: red;
  border: 1px solid black;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
